# output focus and move
bindsym $mod+Mod1+Left focus output left
bindsym $mod+Mod1+Right focus output right
bindsym $mod+Control+Mod1+Left move workspace to output left
bindsym $mod+Control+Mod1+Right move workspace to output right

# special rules
for_window [window_role="pop-up"] floating enable

# autostart
exec ~/.config/i3/setups/auto.sh
