# output focus and move
bindsym $mod+Mod1+Left focus output left
bindsym $mod+Mod1+Right focus output right
bindsym $mod+Control+Mod1+Left move workspace to output left
bindsym $mod+Control+Mod1+Right move workspace to output right

# auto-switch to screen with highest resolution
bindsym $mod+F5 exec ~/bin/screen.py

# special rules
for_window [window_role="pop-up"] floating enable

# start stuff
# exec mpd
exec dunst
exec xfce4-power-manager
exec xfce4-volumed
exec xfsettingsd
exec sh ~/.fehbg
exec owncloud
exec setxkbmap -model thinkpad -option grp:shifts_toggle "uk,de(nodeadkeys)" -option compose:caps
