"*":
  "exception-reporting":
    userId: "5e8a8297-80e4-dde5-19db-3b26d571acd3"
  welcome:
    showOnStartup: false
  core:
    themes: [
      "seti-ui"
      "monokai"
    ]
  editor:
    invisibles: {}
    fontFamily: "Source Code Pro"
  "go-plus":
    goPath: "~/coding/go"
  "vim-mode": {}
  "lisp-paredit":
    enabled: false
  "atom-beautify":
    _analyticsUserId: "45290bd6-0929-4c24-b9fb-6b024680fb55"
